body {
  font-family: Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 50px;
  height: auto;
}

table {
  border-collapse: collapse;
}

thead,
tr td:first-child {
  background: #eae6e6;
}

th,
td {
  border: 1px solid #ccc;
  font-weight: normal;
  font-size: 12px;
  text-align: center;
  width: 64px;
  height: 20px;
  vertical-align: middle;
  position: relative;
}

span,
input {
  position: absolute;
  inset: 0;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 0;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  border-radius: 2px;

  &:focus {
    opacity: 1;
    outline: 2px solid #09f;
  }
}
